table {
    border-collapse: collapse;
    margin: 15px 0;
}

h1 {
    text-align: center;

}

form{
    float: right;
    width: 40%;
}

div, .name, .roast {
    display: inline-block;
}

div#coffees{
    float: left;
    width: 55%;
}
*{
    margin: 0.5em;
}

select, input, button {
    display: block;
    width: 95%;
}
p {
    color: gray;
    font-size: 1em;
}